*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* background and text colour for website */
body{
    background: #080808;
    color:#fff;
}

#header{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.logo{
    width: 140px;
}

#portfolio{
    padding: 50px 0;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.portfolio-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 0 20px; /* Adds space on both sides */
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px; 
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;   
}

.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}

@media only screen and (max-width: 600px){
    nav ul li a{
        font-size: 13px;
    }

    .sub-title{
        font-size: 40px;
    }

    .portfolio-list {
        grid-template-columns: 1fr; /* Ensures a single-column layout */
    }

    .work {
        margin: 0 auto; /* Centers the items */
        width: 90%; /* Prevents the image from touching the edges */
    }

    .work img {
        width: 100%;
        border-radius: 10px;
    }
   
}